<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<rewrite>
<rules>
<rule name="Imported Rule 1" stopProcessing="true">
<match url="^(.*)$" />
<conditions logicalGrouping="MatchAll">
<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
<add input="{REQUEST_FILENAME}.php" matchType="IsFile" ignoreCase="false" />
</conditions>
<action type="Rewrite" url="{R:1}.php" />
</rule>
<rule name="Imported Rule 2" stopProcessing="true">
<match url="^(.*)$" />
<conditions logicalGrouping="MatchAll">
<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
<add input="{REQUEST_FILENAME}.html" matchType="IsFile" ignoreCase="false" />
</conditions>
<action type="Rewrite" url="{R:1}.html" />
</rule>
</rules>
</rewrite>
        <httpErrors>
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="400" />
            <error statusCode="400" path="E:\Inetpub\vhosts\northwestvideo.de\error_docs\bad_request.html" />
            <remove statusCode="407" />
            <error statusCode="407" path="E:\Inetpub\vhosts\northwestvideo.de\error_docs\proxy_authentication_required.html" />
            <remove statusCode="414" />
            <error statusCode="414" path="E:\Inetpub\vhosts\northwestvideo.de\error_docs\request-uri_too_long.html" />
            <remove statusCode="415" />
            <error statusCode="415" path="E:\Inetpub\vhosts\northwestvideo.de\error_docs\unsupported_media_type.html" />
            <remove statusCode="503" />
            <error statusCode="503" path="E:\Inetpub\vhosts\northwestvideo.de\error_docs\maintenance.html" />
            <error statusCode="401" prefixLanguageFilePath="" path="E:\Inetpub\vhosts\northwestvideo.de\error_docs\unauthorized.html" />
            <error statusCode="403" prefixLanguageFilePath="" path="E:\Inetpub\vhosts\northwestvideo.de\error_docs\forbidden.html" />
            <error statusCode="404" prefixLanguageFilePath="" path="E:\Inetpub\vhosts\northwestvideo.de\error_docs\not_found.html" />
            <error statusCode="405" prefixLanguageFilePath="" path="E:\Inetpub\vhosts\northwestvideo.de\error_docs\method_not_allowed.html" />
            <error statusCode="406" prefixLanguageFilePath="" path="E:\Inetpub\vhosts\northwestvideo.de\error_docs\not_acceptable.html" />
            <error statusCode="412" prefixLanguageFilePath="" path="E:\Inetpub\vhosts\northwestvideo.de\error_docs\precondition_failed.html" />
            <error statusCode="500" prefixLanguageFilePath="" path="E:\Inetpub\vhosts\northwestvideo.de\error_docs\internal_server_error.html" />
            <error statusCode="501" prefixLanguageFilePath="" path="E:\Inetpub\vhosts\northwestvideo.de\error_docs\not_implemented.html" />
            <error statusCode="502" prefixLanguageFilePath="" path="E:\Inetpub\vhosts\northwestvideo.de\error_docs\bad_gateway.html" />
        </httpErrors>
</system.webServer>
</configuration>