RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
<FilesMatch "load_data.php">
  AuthType Basic
  AuthName "Authentication required"
  AuthUserFile password.htpasswd
  require valid-user
 </FilesMatch>